.navigation {
  height: 100vh;
  background: #fafafa;

  a {
    display: block;
  }
  .nav-header {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-hamburger {
    color: #636365;
  }
}
