.top-navigation {
  display: flex;
  justify-content: center;

  a {
    text-decoration: none;
    padding: 1rem;
    color: var(--font-color);

    &:hover {
      background: #ddd;
    }

    &.active {
      font-weight: 600;
      text-decoration: underline;
    }
  }
}

